<form id="cognitoRegistration">
	<h2>Sign In</h2>
	<div role="alert" aria-live="assertive">
		{{#> expanding-box/expanding-box id="messageBox" expanded=false}}
			<span id="message" class="message">Test</span>
		{{/expanding-box/expanding-box}}
	</div>
	<label for="emailInput">Email</label>
	<input type="email" id="emailInput" pattern=".*@.*" required>
	{{#> expanding-box/expanding-box id="passwordBox" expanded=true}}
		<label for="passwordInput">Password</label>
		<input type="password" id="passwordInput" pattern=".*" required>
	{{/expanding-box/expanding-box}}
	{{#> expanding-box/expanding-box id="passwordConfirmBox" expanded=false}}
		<label for="passwordConfirmInput">Confirm Password</label>
		<input type="password" id="passwordConfirmInput" pattern=".*">
	{{/expanding-box/expanding-box}}
	{{#> expanding-box/expanding-box id="verifyBox" expanded=false}}
		<label for="verifyCodeInput">Verification Code</label>
		<input type="text" id="verifyCodeInput" pattern=".*">
		<button type="button" id="resendEmailButton">
			<span>Resend verification email</span>
		</button>
	{{/expanding-box/expanding-box}}
	<button type="submit" id="submitButton">
		<span>Sign in</span>
	</button>
</form>
