<form id="cognitoRegistration">
	<h2>Register</h2>
	<div id="messageBox" role="alert" aria-live="assertive" class="expanding-box" data-expanded="false" data-message-type="error">
		<div>
			<span id="registrationMessage" class="message"></span>
		</div>
	</div>
	<label for="emailInputRegister">Email</label>
	<input type="email" id="emailInputRegister" pattern=".*@.*" required>
	<div id="passwordBox" class="expanding-box" data-expanded="true" style="height: auto">
		<div>
			<label for="password1InputRegister">Password</label>
			<input type="password" id="password1InputRegister" pattern=".*" required>
			<label for="password2InputRegister">Confirm Password</label>
			<input type="password" id="password2InputRegister" pattern=".*" required>
		</div>
	</div>
	<div id="verifyBox" class="expanding-box" data-expanded="false">
		<div>
			<label for="verifyRegister">Verification Code</label>
			<input type="text" id="verifyRegister" pattern=".*">
		</div>
	</div>
	<button type="submit" id="submitButton">
		<span>Register</span>
	</button>
	<div id="resendBox" class="expanding-box" data-expanded="false">
		<div>
			<button id="resendEmail">
				<span>Resend verification email</span>
			</button>
		</div>
	</div>
</form>
