
{{importJsContent 'src/content.js'}}
{{copyObjectChildToNewContext content.pages htmlWebpackPlugin.options.ref this 'page'}}

{{#> main page}}
	{{#if body}}<p>{{body}}</p>{{/if}}
	{{> countdown-timer/countdown-timer "2019-03-16T16:00:00+10:00"}}
	{{> map/map}}
{{/main}}
