
{{importJsContent 'src/content.js'}}
{{copyObjectChildToNewContext content.pages htmlWebpackPlugin.options.ref this 'page'}}

{{#> main page nav=htmlWebpackPlugin.options.nav}}
	<p>Andrew &amp; Kirsty were married on March 16<sup>th</sup> 2019,</p>
	{{> countdown-timer/countdown-timer time="2019-03-16T16:00:00+10:00" rate="5000"}}
	<p>ago, at Tanglewood Estate, Dromana</p>
	{{> map/map}}
	<h2>Attire</h2>
	<p>We request that our guests dress in formal attire.</p>
	<p>As we would like photos of all our guests to match the colour scheme of our wedding, we ask that our guests avoid wearing bright colours.</p>
	<p>The venue at Tanglewood is mostly grass, as such, we advise against stiletto heels.</p>
	<h2>Gifts</h2>
	<p>
		We’ve lived together quite a while,<br>
		And all the bills are paid.
	</p>
	<p>
		We’ve got our plates, our pots and pans,<br>
		Our plans have all been made.
	</p>
	<p>
		We would appreciate your help though,<br>
		To send us on our way.
	</p>
	<p>
		A contribution to our honeymoon,<br>
		In a land quite far away.
	</p>
	<p>
		But most importantly, we request,<br>
		You come to our wedding as our guest.
	</p>
	<p>
		To share with us our special day,<br>
		And have some fun along the way.
	</p>
{{/main}}
