
{{importJsContent 'content.js' this}}
{{copyObjectChildToNewContext content.pages htmlWebpackPlugin.options.ref this 'page'}}

{{#> main page}}
	<main>
		<h1>{{title}}</h1>
		<p>{{body}}</p>
		<div class="countdown-timer"></div>
		{{!-- {{> map/map}} --}}
	</main>
{{/main}}
