
{{importJsContent 'src/content.js'}}
{{copyObjectChildToNewContext content.pages htmlWebpackPlugin.options.ref this 'page'}}

{{#> main page nav=htmlWebpackPlugin.options.nav}}
	<p>Andrew &amp; Kirsty are getting married in</p>
	{{> countdown-timer/countdown-timer time="2019-03-16T16:00:00+10:00" rate="5000"}}
	<p>March 16<sup>th</sup> 2019 at Tanglewood Estate</p>
	{{> map/map}}
{{/main}}
