@import (reference) './index.less';

html {
	background: darken(@c-background, 2%);
	font-size: unit(@base-font-size-min, px);
	@media (min-width: unit(@break-small, px)) {
		font-size: @base-font-size-scaled
	}
	@media (min-width: unit(@break-large, px)) {
		font-size: unit(@base-font-size-min, px);
	}
	color: @c-body-copy;
	padding: @block-padding;
}

body {
	font-size: inherit;
	color: inherit;
	margin: 0 auto;
	padding: @block-padding;
	background: @c-background;
	height: auto;
	min-height: 100%;
	min-width: calc(unit(@break-min, px) - 2 * @block-padding);
	max-width: unit(@break-large, px);
	box-shadow:
		0 0.1rem 0.5rem hsla(0, 0%, 0%, 0.5),
		inset 0 0.1rem 0.5rem hsla(0, 0%, 100%, 0.1);
}

@{headers} {
	margin: 1rem 0;
	font-size: .px-to-rem(24px)[@rem];
}

main {
	text-align: center;
}
