@import (reference) '../../index.less';

#map {
	margin: 1rem auto 0;
	max-width: unit(@break-small, px);

	div:focus {
		outline: none;
	}

	> div {
		background: transparent !important;
	}

	&:before {
		content: '';
		display: block;
		padding-top: 100%;
	}

	.gm-style {
		border: 1rem solid lighten(@c-navy, 10%);

		> div[tabindex="0"] {
			border-radius: 50%;
			overflow: hidden;
		}

		> button {
			border-radius: 50% !important;
		}
	}

	// .gmnoprint {
	// 	&:nth-child(5),
	// 	&:nth-child(11),
	// 	.gm-svpc {
	// 		display: none;
	// 	}

	// 	button:first-child,
	// 	button:nth-child(3) {
	// 		border-radius: 50% !important;
	// 		background: rgb(230, 230, 230) !important;

	// 		+ div {
	// 			background: transparent !important;
	// 		}

	// 		img {
	// 			margin: 11px !important;
	// 		}
	// 	}
	// }

	.gm-fullscreen-control,
	.gm-style-cc,
	.gmnoprint {
		display: none;
	}

	// .gm-bundled-control > .gmnoprint > div {
	// 	background: transparent !important;
	// }
}
