@import (reference) '../../index.less';

#map {
	margin: 1rem auto 0;
	max-width: unit(@break-small, px);

	div:focus {
		outline: none;
	}

	> div {
		background: transparent !important;
	}

	&:before {
		content: '';
		display: block;
		padding-top: 100%;
	}

	.gm-style {
		border: 1rem solid lighten(@c-navy, 10%);

		> div[tabindex="0"] {
			border-radius: 50%;
			overflow: hidden;
		}

		> button {
			border-radius: 50% !important;
		}
	}
	.gm-style-cc {
		display: none;
	}

	#tanglewoodInfoBox {
		@padding: 0.5rem;
		@font-size: 0.7rem;

		color: @c-navy;

		svg {
			fill: @c-navy;
			vertical-align: bottom;
		}
		.tanglewood-logo {
			width: 8rem;
			margin-bottom: @padding;
		}
		a {
			color: inherit;
			font-size: @font-size;
			display: inline-block;
			padding: @padding/2;

			span {
				line-height: 1rem;
			}

			&:hover, &:focus {
				span {
					text-decoration: underline;
				}
			}
		}
		ul {
			list-style: none;
			padding: 0;
			margin: 0;

			li {
				display: inline-block;

				svg {
					width: 1rem;
				}
			}
		}
	}
}
