<div class="countdown-timer" data-target-time="{{this}}">
	<span class="months">
		<span class="value"></span><span class="label"> month<span class="s">s</span></span>
	</span>
	<span class="days">
		<span class="value"></span><span class="label"> day<span class="s">s</span></span>
	</span>
	<span class="hours">
		<span class="value"></span><span class="label"> hour<span class="s">s</span></span>
	</span>
	<span class="minutes">
		<span class="value"></span><span class="label"> minute<span class="s">s</span></span>
	</span>
	<span class="seconds">
		<span class="value"></span><span class="label"> second<span class="s">s</span></span>
	</span>
</div>
