<div class="countdown-timer">
	<span class="months">
		<span class="value"></span>
		<span class="label">months</span>
	</span>
	<span class="days">
		<span class="value"></span>
		<span class="label">days</span>
	</span>
	<span class="hours">
		<span class="value"></span>
		<span class="label">hours</span>
	</span>
	<span class="minutes">
		<span class="value"></span>
		<span class="label">minutes</span>
	</span>
	<span class="seconds">
		<span class="value"></span>
		<span class="label">seconds</span>
	</span>
</div>
